.header, .hero, .body, .bar, .footer{
	background-color: lime;
	margin-bottom: 5px;
}
.box{
	min-height:  100px;
	background-color: teal;
	margin-bottom: 5px;
	color: white;
	text-align: center;
	font-size: 20px;
}
.red{
	background-color: red;
}